<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Welcome to Administrative Back-end System</title>
    <link rel="stylesheet" href="./common/element/element.css">
</head>

<body>
    <div id="app">
        <el-form ref="loginForm" label-width="80px" class="login-box">
            <h3 class="login-title">Update Password</h3>
            <el-form-item label="Username">
                {{ adminname }}
            </el-form-item>
            <el-form-item label="Old Password">
                <el-input type="password" placeholder="Input Old Password" v-model="password" />
            </el-form-item>
            <el-form-item label="New Password">
                <el-input type="password" placeholder="Input New Password" v-model="repassword" />
            </el-form-item>
            <el-form-item label="Confirm Password">
                <el-input type="password" placeholder="Confirm Password" v-model="newpassword" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="editpwd()">Confirm</el-button>
                <el-button type="info" @click="reset()">Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>

    <script src="./common/js/jquery-1.9.0.min.js"></script>
    <script src="./common/js/vue.js"></script>
    <script src="./common/js/axios.min.js"></script>
    <script src="./common/element/element.js"></script>

	<script type="text/javascript">
		const vue = new Vue({
			el: '#app',
			data: {
				adminid: '',
				adminname: '',
				password: '',
				newpassword: '',
				repassword: '',
			},
			methods: {
				editpwd: function () {
					let _this = this;
					var data = {
						adminid: _this.adminid,
						password: _this.password,
						repassword: _this.repassword,
					};
					axios.post('http://localhost:8080/vue_zxwmdcxt/admin/editpwd.action', data).then(result => {
						alert(result.data.message);
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					});
				},
				reset: function () {
					password = '';
					newpassword = '';
					repassword = '';
				},
				validate: function () {

				},
				loadPage: function () {
					this.adminid = sessionStorage.getItem('adminid');
					this.adminname = sessionStorage.getItem('adminname');
				},
			},
			created() {
				this.loadPage();
			},
		})
	</script>

    <style lang="scss" scoped>
        .login-box {
            border: 1px solid #DCDFE6;
            width: 350px;
            margin: 180px auto;
            padding: 35px 35px 15px 35px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            box-shadow: 0 0 25px #909399;
        }

        .login-title {
            text-align: center;
            margin: 0 auto 40px auto;
            color: #303133;
        }
    </style>

</body>

</html>


