<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Welcome to Administrative Back-end System</title>
    <link rel="stylesheet" href="./common/element/element.css">
</head>

<body>
    <div id="app">
        <el-form ref="loginForm" label-width="80px" class="login-box">
            <h3 class="login-title">Administrative Back-end System</h3>
            <el-form-item label="Username" prop="username">
                <el-input type="text" placeholder="Input Username" v-model="username" />
            </el-form-item>
            <el-form-item label="Password" prop="password">
                <el-input type="password" placeholder="Input Password" v-model="password" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="toLogin()">Login</el-button>
            </el-form-item>
        </el-form>
    </div>

    <script src="./common/js/jquery-1.9.0.min.js"></script>
    <script src="./common/js/vue.js"></script>
    <script src="./common/js/axios.min.js"></script>
    <script src="./common/element/element.js"></script>

  <script type="text/javascript">
    const vue = new Vue({
      el: '#app',
      data: {
        username: '',
        password: '',
      },
      methods: {
        toLogin: function () {
          let _this = this;
          if (_this.username == '') {
            alert('Please enter your username');
            return;
          }
          if (_this.password == '') {
            alert('Please enter your password');
            return;
          }
          var data = {
            username: _this.username,
            password: _this.password,
          }
          axios.post('http://localhost:8080/vue_zxwmdcxt/login/login.action', data).then(result => {
            if (result.data.success) {
              sessionStorage.setItem('adminid', result.data.adminid);
              sessionStorage.setItem('adminname', result.data.adminname);
              sessionStorage.setItem('realname', result.data.realname);
              sessionStorage.setItem('role', result.data.role);
              window.location.href = 'main.html';
            } else {
              alert(result.data.message);
              _this.reset();
            }
          })
        },
        reset: function () {
          this.username = '';
          this.password = '';
        },
      },
      created() {
        sessionStorage.clear();
      },
    })
  </script>

    <style lang="scss" scoped>
        .login-box {
            border: 1px solid #DCDFE6;
            width: 350px;
            margin: 180px auto;
            padding: 35px 35px 15px 35px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            box-shadow: 0 0 25px #909399;
        }

        .login-title {
            text-align: center;
            margin: 0 auto 40px auto;
            color: #303133;
        }
    </style>

</body>

</html>


