<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Website User Information</title>
    <link rel="stylesheet" href="./common/element/element.css">
</head>

<body>
    <div id="app">
        <h2>Website User Information</h2>
        <el-row>
            <el-col :span="18" style="margin-bottom: 10px">
                <el-input v-model="keywords" style="width: 260px;" placeholder="Input User Name"></el-input>
                <el-button type="info" @click="query">Search</el-button>
                <el-button type="success" @click="reload">Refresh</el-button>
                <el-button type="warning" @click="datadel">Batch Delete</el-button>
            </el-col>
        </el-row>

        <el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" stripe border style="width: 99%" @selection-change="selsChange">
            <el-table-column type="selection" width="45" align="center"></el-table-column>
            <el-table-column prop="username" label="UserName" align="center"></el-table-column>
            <el-table-column prop="realname" label="Name" align="center"></el-table-column>
            <el-table-column prop="sex" label="Gender" align="center"></el-table-column>
            <el-table-column prop="birthday" label="Data of Birth" align="center"></el-table-column>
            <el-table-column prop="contact" label="Contact Method" align="center"></el-table-column>
            <el-table-column prop="regdate" label="Register Date" align="center"></el-table-column>
            <el-table-column fixed="right" label="Operate" width="150" align="center">
                <template slot-scope="scope">
                	<el-button type="danger" icon="el-icon-delete" size="small" circle @click="delete(scope.row.usersid)"></el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-row type="flex" justify="center" style="margin-top: 10px">
            <el-pagination background layout="prev, pager, next" :total="total" @current-change="current_change">
            </el-pagination>
        </el-row>

        <el-dialog title="Website User Information" :visible.sync="dialogVisible" >
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="UserName">
                    <el-input v-model="form.username" placeholder="Input UserName"></el-input>
                </el-form-item>
                <el-form-item label="Password">
                    <el-input v-model="form.password" type="password" placeholder="Input Password"></el-input>
                </el-form-item>
                <el-form-item label="Name">
                    <el-input v-model="form.realname" placeholder="Input Name"></el-input>
                </el-form-item>
                <el-form-item label="Gender">
                    <el-radio v-model="form.sex" label="male">Male</el-radio>
                    <el-radio v-model="form.sex" label="female">Female</el-radio>
                </el-form-item>
                <el-form-item label="Date of Birth">
                    <el-date-picker v-model="form.birthday" type="dates" placeholder="Select Data Of Birth">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="Contact Method">
                    <el-input v-model="form.contact" placeholder="Input Contact Method"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="save">Confirm</el-button>
            </span>
        </el-dialog>

    </div>

    <script src="./common/js/jquery-1.9.0.min.js"></script>
    <script src="./common/js/vue.js"></script>
    <script src="./common/js/axios.min.js"></script>
    <script src="./common/element/element.js"></script>
    <script>
        const vue = new Vue({
            el: '#app',
            data: {
                tableData: [],
                pageSize: 8,
                total: 0,
                dialogVisible: false,
                form: {},
                currentPage: 1,
                keywords: '',
                selectedData: [],


            },
            created() {
                    this.loadTable();
            },
            methods: {
                loadTable: function() {
                    let _this = this;
                    axios.get('http://localhost:8080/vue_zxwmdcxt/users/getUsersMap.action').then(result => {
                        _this.tableData = result.data.data;
                        _this.total = _this.tableData.length;
                    });
                },
                current_change: function(currentPage) {
                    this.currentPage = currentPage;
                },
                reload: function() {
                    this.loadTable();
                },

                reset: function() {
                    this.form = {
                        sex: '男',
                    };
                },

                dialogLoad: function() {
                    let _this = this;
                },

                add: function() {
                    this.dialogVisible = true;
                    this.dialogLoad();
                    this.reset();
                },

                edit: function(usersid) {
                    let _this = this;
                    _this.dialogVisible = true;
                    axios.get('http://localhost:8080/vue_zxwmdcxt/users/getUsersById.action?id=' + usersid).then(result => {
                        _this.form = result.data;
                    });
                    this.dialogLoad();
                },

                save: function() {
                    let _this = this;
                    if (this.form.usersid) {
                        axios.post('http://localhost:8080/vue_zxwmdcxt/users/updateUsers.action', _this.form).then(result => {
                            if (result.data.code > 0) {
                                alert('success');
                                _this.loadTable();
                                _this.dialogVisible = false;
                            } else {
                                console.log('fail');
                            }
                        });
                    } else {
                        axios.post('http://localhost:8080/vue_zxwmdcxt/users/insertUsers.action', _this.form).then(result => {
                            if (result.data.code > 0) {
                                if (window.confirm('Success. Would you like to add more?')) {
                                    _this.loadTable();
                                    _this.dialogLoad();
                                    _this.reset();
                                } else {
                                    _this.loadTable();
                                    _this.dialogVisible = false;
                                }
                            } else {
                                console.log('fail');
                            }
                        });
                    }
                },

                cancel: function() {
                    _this.dialogVisible = false;
                },

                query: function() {
                    let _this = this;
                    axios.get('http://localhost:8080/vue_zxwmdcxt/users/getUsersMap.action?keywords=' + _this.keywords).then(result => {
                        _this.tableData = result.data.data;
                        _this.total = _this.tableData.length;
                    });

                },

                delete: function(usersid) {
                    let _this = this;
                    if (window.confirm('Confirm to delete.')) {
                        axios.get('http://localhost:8080/vue_zxwmdcxt/users/deleteUsers.action?id=' + usersid).then(result => {
                            if (result.data.code > 0) {
                                _this.loadTable();
                            } else {
                                alert('fail');
                            }
                        });
                    }
                },

                selsChange: function(sels) {
                    this.selectedData = sels;
                },
                datadel: function() {
                    let _this = this;
                    var ids = this.selectedData.map(item => item.usersid).join();
                    if (ids.length == 0) {
                        alert('Please select data to delete');
                        return false;
                    }
                    if (window.confirm('Confirm to delete.')) {
                        axios.post('http://localhost:8080/vue_zxwmdcxt/users/deleteUsersByIds.action', ids.split(',')).then(result => {
                            if (result.data.code > 0) {
                                _this.loadTable();
                            } else {
                                alert('fail');
                            }
                        });
                    }
                },

            },
        });
    </script>


</body>

</html>


